* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: Helvetica, Arial, sans-serif;
    background-color:  #f7E2E2;
    color: #f7E2E2;
  }

  html {
    scroll-behavior: smooth;
  }
  
  a {
    color: #f7E2E2;
  }
  
  .active {
    background-color: #16192f;
  }
  
  /* apply styles to <header> */
 /* header {
    padding: 20px 35px;
    background-color: transparent;
    top: 0;
    z-index: 10000;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    position: fixed;
    transition: all 0.2s ease-in-out;
  }*/

 /* body:not(#home) header {
    background-color: black;
  }*/

  header {
    padding: 20px 35px;
    background-color: #003D5B;
  }

  body {
    color:#39a6b2;
    font-family: Helvetica, Arial, sans-serif;
  }

  
  #logo {
    font-weight: bold;
    font-size: 40px;
    margin: 0;
    text-decoration: none;
  }
  
  nav {
    align-self: center;
  
  }
  header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #edae49;
    margin: 0;
    display: inline;
  }
  
  
  header a {
    text-decoration: none;
    font-size: .8rem;
    margin: 10px;
    color: #edae49;
  }

  header nav {
    float: right;
    margin: 7px 0;
  }

  header nav ul li {
    display: inline;
  }

  header nav ul li a {
    margin: 0 15px;
    font-weight: lighter;
    font-size: 18px;
  } 

  .hero {
    background-image: url("../images/logounderwater.JPG");
    height: 850px;
    background-size: cover;
    background-position: center;
  }
  
  .listen {
    background-image: url("../images/groupphoto.JPG");
    height: 600px;
    background-size: cover;
    background-position: center;
  }














  footer {
    background: #fce138;
    width: 100%;
    padding: 40px 35px;
  }


  footer h2 {
    display: inline;
    color: #024e76;
    font-size: 30px;
    margin: 0;
  }

  footer div {
    
    line-height: 1.5;
    text-align: center;
  }
  
  footer a {
    color: #024e76;
    float: right;
    text-align: right;
  }